# PostgreSQL
POSTGRES_USER=ats_user
POSTGRES_PASSWORD=ats_password_change_me
POSTGRES_DB=ats_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin_password_change_me

# RabbitMQ
RABBITMQ_DEFAULT_USER=ats_rabbit
RABBITMQ_DEFAULT_PASS=rabbit_password_change_me

# Celery 
CELERY_BROKER_URL=amqp://ats_rabbit:rabbit_password_change_me@localhost:5672//
CELERY_RESULT_BACKEND=redis://localhost:6379/0
 

 